@font-face {
    font-family:digital-7;
    src: url(digital-7.ttf);
}
marquee
{
    background-color: hsl(199, 54%, 83%); 
    font-size:60PX;  
}
#bd
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color: hsl(199, 54%, 83%);

}
button
{
    width: 100px;
    height: 100px;
    border-radius: 110px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: antiquewhite;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
}
#keys
{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    column-gap:25px;
    row-gap:25px;
    padding:25px;
}

#cal
{
    background-color: hsl(0, 0%, 15%);
    border-radius: 30px;
    overflow: hidden;
    border: none;

}

 #display
{   height: 75px;
    width:550px;
    padding: 20px;
    font-size: 70px;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 65%);
    font-family: "digital-7";
    


    
} 

button:hover
{
    background-color: hsl(0, 0%, 70%);
}

button:active{
    background-color: aqua;
}

.operator
{
    background-color: hsl(35, 100%, 55%);
}
.operator:hover
{
    background-color: hsl(35, 100%, 80%);
}
.operator:active
{
    background-color:antiquewhite;
}
#eval
{
    background-color: rgb(255, 0, 0)
}
#eval:hover
{
    background-color: rgb(221, 67, 80);
}
#eval:active
{
    background-color: rgb(255, 255, 255);
}